[submodule "frontend"]
	path = frontend
	url = https://github.com/HYS1753/elasticsearch-management-tool
[submodule "api"]
	path = api
	url = https://github.com/HYS1753/elasticsearch-management-tool-api
